.nav {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 30px;
    padding: 10px 0 0 0;
}

input { display: none; }                /* hide radio buttons */
input + label { display: inline-block } /* show labels in line */
input ~ .tab { display: none }

input + label {             /* box with rounded corner */
    border: 1px solid #999;
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
  }
  input:checked + label {     /* white background for selected tab */
    background: #FFF;
    border-bottom: 1px solid transparent;
  }
  input ~ .tab {          /* grey line between tab and contents */
    border-top: 1px solid #999;
    padding: 12px;
  }

  