.nav {
    background-color: #fde5ba;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 30px;
    padding: 10px 0 0 0;
    z-index: 10;
}

input { display: none; }                /* hide radio buttons */
input + label { display: inline-block } /* show labels in line */
input ~ .tab { display: none }

input + label {             /* box with rounded corner */
    background: #EEE;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
    font-size: 18px;
  }
  input:checked + label {     /* white background for selected tab */
    background: #FFF;
    border-bottom: 1px solid transparent;
  }
  input ~ .tab {          /* grey line between tab and contents */
    border-top: 1px solid #999;
    padding: 12px;
  }



  body .heading {
    font-size: 8rem;
    margin: 7rem 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: #cb904d;
    display: inline-block;
    position: relative;
    z-index: 3;
  }
  
  body .heading::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    top: 22%;
    left: 12%;
    border: 10px solid #cb904d31;
    z-index: -20;
  }
  
  @keyframes move {
    from {
      transform: rotate(30deg) translate(-120px, 60px);
    }
    to {
      transform: rotate(30deg) translate(-120px, -210px);
    }
  }
  body .container {
    margin: 0px;
    position: fixed;
    right: -153px;
    top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    animation: move 4.5s linear infinite alternate;
    z-index: -1;
  }
  
  .container .child-container {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #b9b9b9;
    text-align: center;
    overflow: hidden;
  }
  
  .child-container img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  #menu{
    width: 1045px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .header{
    flex: 1 1 0%;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
  }

  .menuContainer{
    flex: 3 1 0%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-template-rows: repeat(auto-fill, 168px);
  }

  .item-card{
    background:white;
    width:300px;
    display:flex;
    padding:10px;
    gap:10px;
    border-radius:15px;
    box-shadow: 5px 5px 5px 1px #fde5ba;
    
  }
  
  .img-container img{
    width:100%;
  }
  .item-card div{
    flex:1
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .about{
    text-align: center;
    /* width: 1000px; */
    /* margin: 30vh auto!Important; */
    /* margin: 0 50%; */
    position: absolute!Important;
    width: 1000px;
    margin: 32vh 22vw!important;
  }

  .about p{
    font-size: 1.5rem;
  }